
<div class="container">
  <div class="panel panel-default">
  	<div class="panel-heading"><h2>Informacion temperatura actual</h2></div>
    <div class="panel-body">
	  <div class="row">
	   
	   	<div id="contenido">
	   		
	   		<% @datosiniciales.each do |c| %>
	   		<div class="col-sm-2 text-center  ">
		      <div class="panel panel-default">
				  <div class="panel-heading"> <%= c.ciudad %> </div>
				  <div class="panel-body">
				   	<table>
				   		<tr>
				   			<th > <h3> <%= c.hora %>   </h3></th>
				   		</tr>
				   		<tr>
				   			<th> TEMPERATURA  </th> 
				   		</tr>
				   		<tr>
				   		<td> <h2>  <%= c.temperatura %>  ° F</h2> </td>
				   		</tr>
				   		<tr>
				   		<td> <h2>  <%= c.temperaturac %>   ° C</h2> </td>
				   		</tr>
				   	</table>
				  </div>
				</div>
		    </div>
		    <% end %>

	   		

	   	</div>

	      
	  </div>
	</div>
</div>
 